@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;

}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background: white;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
}


.container {
  margin: 0 auto;
  width: 1200px;
}

.main-header {
  background: white;
  color: black;
  display: flex;
  width: 1200px;
  height: 64px;
  justify-content: space-between;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  width: 1200px;
}

.navigation-logo {
  display: block;
  margin-right: 44px;
  margin-left: 70px;


}

.navigation_list {
  padding: 20px 0 20px 0;
  margin: 0;
  width: 339px;
  display: flex;
  align-items: center;
  margin-right: auto;
  list-style-type: none;
}

.navigation_user {
  padding: 24px 0 24px 0;
  margin-left: auto;
  width: 268px;
  margin-right: 70px;


}

.navigation_user .navigation_link {
  min-width: 44px;
  min-height: 64px;
}

.navigation_link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  background-color: white;
  text-align: center;
  display: block;
  margin: 20px 16px;
}

.navigation_link:hover {
  opacity: 0.6;
}

.navigation_link:active {
  opacity: 0.3;
}

.navigation_link_current {
  margin-left: 0;
}

.navigation_link_current::before {
  position: absolute;
  height: 2px;
  background-color: #756257;
  width: 68px;
  content: "";
  transform: translateY(43px);
}

.navigation_link_hotel::before {
  position: absolute;
  height: 2px;
  background-color: #756257;
  width: 93px;
  content: "";
  transform: translateY(43px);

}

.made_in:hover {
  opacity: 0.7;
}

.made_in:active {
  opacity: 0.3;
}



.navigation_item-user:nth-child(1) .navigation_link {
  background-image: url("/images/Vector_search.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;

}

.navigation_item-user:nth-child(2) .navigation_link {
  background-image: url("/images/Vector_heart.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;
  position: relative;

}

.number-heart {
  position: absolute;
  top: 10px;
  right: 345px;
}



.button_navigation_link {
  width: 160px;
  height: 36px;
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #756157;
  color: white;
  text-decoration: none;
  font-family: 'PT Sans' sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 8px 34px;
  margin-left: 20px;

}

.button_navigation_link:hover {
  background-color: #615048;
}

.button_navigation_link:focus {
  background-color: #615048;
}

.button_navigation_link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button_navigation_link:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.main_index_logo {
  background-image: url(../images/Vector-button-new.svg), url("../images/index.jpg");
  background-color: black;
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;
  width: 1200px;
  height: 485px;
  display: block;
  margin: 0 auto;

}

.page-container {
  margin: 0 auto;
  width: 1200px;
}

.logo {
  margin: 51px 371px 82px;
}

.index-tagline {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 69px;
  margin-bottom: 90px;
}

.advantages {
  display: flex;
  width: 1200px;

}

.line {
  border-bottom: solid 2px rgba(0, 0, 0, 0.3);
  width: 60px;
  padding-top: 30px;
}

.line-city {
  border-bottom: solid 2px rgba(255, 255, 255, 0.3);
  width: 60px;
  padding-top: 30px;
}

.line-bridge {
  border-bottom: solid 2px rgba(255, 255, 255, 0.3);
  width: 60px;
  padding-top: 30px;
}

.advantages_list {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row;
  width: 1200px;
  flex-wrap: wrap;
  display: flex;
}

.advantages_item {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}


.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: Top;
  width: 175px;
  margin: 0;
  padding: 0;
  margin-top: 103px;
}

.advantages-title-city {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: Top;
  width: 175px;
  margin: 0;
  padding: 0;
  margin-top: 92px;

}

.advantages_description-city {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  vertical-align: Top;
  margin-top: 30px;
  margin-bottom: 111px;

}

.advantages-title-bridge {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: Top;
  width: 175px;
  margin: 0;
  padding: 0;
  margin-top: 92px;

}

.advantages_description-bridge {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  vertical-align: Top;
  margin-top: 30px;
  margin-bottom: 111px;

}

.advantages_description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  vertical-align: Top;
  margin-top: 30px;
  margin-bottom: 121px;
}

.advantages-title-housing {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  width: 175px;
  margin: 0;
  padding: 0;
  margin-top: 30px;

}

.advantages_description-housing {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  vertical-align: Top;
  margin-top: 30px;
  margin-bottom: 81px;

}

.advantages-title-meel {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: Top;
  width: 175px;
  margin: 0;
  padding: 0;
  margin-top: 30px;

}

.advantages_description-meel {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  vertical-align: Top;
  margin-top: 30px;
  margin-bottom: 81px;

}

.advantages-title-souvenir {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: Top;
  width: 175px;
  margin: 0;
  padding: 0;
  margin-top: 30px;

}

.advantages_description-souvenir {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  vertical-align: Top;
  margin-top: 30px;
  margin-bottom: 81px;

}

.meel {
  background: white;
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}



.photo_of_sedona {
  margin-right: 0;
}

.real-city {
  background: #82B3D3;
  width: 400px;
  height: 384px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.devil-bridge {
  background: #82B3D3;
  width: 400px;
  height: 384px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

.tourists {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

.housing {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

.souvenir {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

.little-square {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

.road_advantages {
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

.index-colum {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin: 0;
  padding: 0;
}

.index-colum-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: black;
  margin: 0;
  margin-top: 25px;
  padding: 0;
}

.reason {
  margin: 0;
  padding: 0;
}

.button_search {
  align-items: center;
  text-align: center;
  width: 1200px;
  min-height: 406px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.button_search_link {
  color: white;
  background-color: #756157;
  margin-top: 54px;
  padding: 8px 50px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
  background-size: cover;
  cursor: pointer;
  font-family: 'PT Sans';
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
}

.button_search_link:hover {
  background-color: #615048;
}

.button_search_link:focus {
  background-color: #615048;
}

.button_search_link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button_search_link:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.newsletter {
  text-align: center;
  color: white;
  background-image: url("../images/background_subscribe.jpg");
  background-color: black;
  width: 1200px;
  min-height: 415px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}

.newsletter-catalog {
  text-align: center;
  color: black;
  background-color: white;
  width: 1200px;
  min-height: 415px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;

}

.newsletter_form {
  margin-top: 54px;
  display: flex;
  justify-content: center;
}

.newsletter-button {
  width: 232px;
  height: 53px;
  background-color: #82B3D3;
  color: white;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  vertical-align: center;
  border: none;
}


.newsletter-button:hover {
  background-color: #68A2CA;
  color: #FFFFFF;
}

.newsletter-button:focus {
  background-color: #68A2CA;
  color: #FFFFFF;
}

.newsletter-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.page_footer_title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 96px;
}

.page_footer_description {
  font-family: "PT Sans", sans-serif;
  Weight: 400px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-top: 20px;

}

.button-subscribe {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: white;
  border: none;
  text-transform: uppercase;
  border-radius: 0px 4px 4px 0px;
}

.field {
  margin: 0;
  padding: 14px 20px;
  box-sizing: border-box;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0px 0px 4px;
  border: none;
  background: #F2F2F2;

}

.footer-contacts {
  align-items: center;
  text-align: center;
  display: flex;
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  justify-content: space-between;
}

.contacts {
  margin-left: 70px;
}

.contacts_list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts_item {
  min-width: 47px;
  min-height: 40px;
}

.number {
  align-items: center;
  text-align: center;
  text-decoration-line: none;
  color: black;
}

.contacts_phone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: top;
  color: black;
  display: block;
  margin-top: 45px;
  margin-bottom: 35px;
  text-decoration: none;

}

.contacts_phone:hover {
  color: #756157;
}

.contacts_phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.made_in {
  align-items: center;
  text-align: center;
  color: black;
  margin-right: 70px;
}


.main-filter-hotel {
  background-image: url("../images/background_catalog.jpg");
  background-color: black;
  background-repeat: no-repeat;
  color: white;
  width: 1200px;
  height: 412px;
  background-size: cover;
  margin: 0 auto;

}

.title-filter {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding-top: 35px;
  padding-left: 70px;

}

.breadcumbs {
  font-family: "PT Sans", sans-serif;
  Font-size: 16px;
  Line-height: 21px;
  text-align: Left;
  vertical-align: Top;
  color: white;
  display: flex;
  width: 114px;
  height: 21px;
  margin: 0;
  padding-top: 8px;
  padding-left: 70px;
  list-style-type: none;
  position: relative;
}

.breadcumbs-link {
  margin-right: 11px;
  cursor: pointer;
  position: relative;
}

.breadcumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcumbs-link:focus {
  color: #FFFFFF;
}

.breadcumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}




.arrow {
  margin-right: 11px;
  left: 90px;
  position: absolute;
  top: 13px;
}


.inner-header a {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: white;
}

.control {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  vertical-align: top;
  margin-left: 25px;
  position: relative;
}

.control:hover {
  opacity: 0.6;
}

.catalog-filter-title {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: left;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;

}

.catalog-filter {
  display: flex;
  margin-left: 70px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: 'PT Sans' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-infra {
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  border-style: none;

}

.catalog-filter-housing {
  display: flex;
  padding: 0;
  margin: 0;
  border-style: none;
  width: 150px;
}



.filter-price {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 140px;
  flex-direction: column;
  width: 288px;
  margin-right: 70px;
}


.form-price {
  display: flex;
  width: 288px;
  flex-wrap: wrap;
  gap: 2px;
}

.price {
  display: flex;
  width: 143px;
  height: 48px;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  gap: 2px;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: black;
  margin-bottom: 48px;
  appearance: textfield;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}


.range-scale {
  position: relative;
  height: 4px;
  background-color: white;
  opacity: 1;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:active,
.range-toggle:focus {
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: 60px;
}





.catalog-hotels {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.button-show {
  background-color: #82B3D3;
  width: 191px;
  height: 36px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: center;
  color: white;
  margin-top: 56px;
  margin-bottom: 32px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.button-show:hover {
  background-color: #68A2CA;
}

.button-show:focus {
  background-color: #82B3D3;

}



.button-show:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.button-show:disabled {
  background-color: #E5E5E5;
  ;
  color: white;
}

.button-reset {
  background-color: transparent;
  width: 191px;
  height: 36px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: center;
  color: white;
  cursor: pointer;
  border: none;



}

.button-reset:hover {
  opacity: 0.5;
}

.button-reset:focus {
  color: white;
}

.button-reset:active {
  opacity: 0.3;
}

.button-reset:disabled {
  opacity: 0.2;
}




.control-input {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

.title-result-filter {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: black;
  min-width: 338px;
  min-height: 36px;
  padding: 0;
  margin: 56px 200px 46px 70px;


}

.result_filter {
  display: flex;
  width: 1200px;

}

.sorting-result {
  display: flex;
}

.sorting-button {
  display: flex;
  margin-left: 74px;
  align-items: center;
  gap: 8px;
}

option {
  font-family: 'PT Sans' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

}

.sorting-result .button {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-color: black;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;

  padding: 14px 12px;
  gap: 10px;
}

.sorting-result .button:hover {
  border: 2px solid #000000;
}

.sorting-result .button:focus {
  border: 2px solid #68A2CA;
}

.sorting-result .button:active {
  border: 2px solid #000000;
}

.sorting-result .button-light {
  border: 2px solid #000000;
}




.hotel_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  margin-left: 70px;
}



.select-control {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-top: 50px;
  margin-bottom: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  gap: 94px;
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;

}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus {
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  opacity: 0.3;
}



.hotel_card_title {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;
  margin: 0;
  margin-bottom: 16px;
  text-decoration: none;
}

.hotel_card_link {
  text-decoration: none;
}

.hotel_card-image {
  margin-bottom: 16px;
}

.description-hotel {
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-wrap: wrap;
}


.name-and-price {
  display: flex;
  width: 300px;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  min-height: 21px;
  gap: 20px;
  margin-bottom: 16px;
}

.price-hotel {
  font-weight: 400;

}


.button-hotel {
  display: flex;
  width: 300px;
  gap: 20px;
  margin-bottom: 16px;
}

.rating-hotel {
  display: flex;
  width: 300px;
  justify-content: space-between;

}

.accomodation {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: black;
}


.rating_score_button {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  width: 140px;
  height: 37px;
  background-color: #F2F2F2;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0;
  white-space: nowrap;
}

.hotel_card {
  display: flex;
  width: 300px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel_card:nth-child(3n) {
  margin-right: 0px;

}

.add_button {
  min-width: 140px;
  min-height: 36px;
  background-color: #756157;
  border-radius: 4px;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 0;
  white-space: nowrap;
}

.add_button:hover {
  background: #615048;
}

.add_button:focus {
  background: #615048;
}

.add_button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.add_button:disabled {
  background: #E5E5E5;
}

.favorite_button {
  min-width: 140px;
  min-height: 36px;
  background-color: #82B3D3;
  border-radius: 4px;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 0;
  white-space: nowrap;

}

.favorite_button:hover {
  background-color: #68A2CA;
}

.favorite_button:focus {
  background-color: #68A2CA;
}

.favorite_button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.favorite_button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.favorite_button_current {
  min-width: 140px;
  min-height: 36px;
  background-color: #7DB54F;
  border-radius: 4px;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 0;
  white-space: nowrap;

}

.favorite_button_current:hover {
  background-color: #6C9E42;
}

.favorite_button_current:focus {
  background-color: #6C9E42;
}

.favorite_button_current:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.favorite_button_current:disabled {
  background-color: #E5E5E5;
  color: white;
}



.pagination-link {
  color: white;
  background-color: #82B3D3;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 4px white;
}

.pagination-link:hover {
  background-color: #68A2CA;
  border: #82B3D3;
  border-radius: 4px;

}

.pagination-link:active {
  background-color: #82B3D3;
  border-radius: 4px;
  opacity: 0.3;

}

.pagination-current {
  background-color: #F2F2F2;
  color: black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  justify-content: center;
}

.pagination-current:hover {
  background-color: #F2F2F2;
  color: black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;

}

.pagination-current:active {
  background-color: #F2F2F2;
  color: black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  justify-content: center;
}


.pagination {
  display: flex;
  width: 400px;
  height: 60px;
  list-style-type: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  margin-left: 70px;



}



.pagination-link:not(:last-child) {
  margin-right: 8px;

}

.page-footer-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  margin: 0 auto;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
}

.modal-book {
  width: 717px;
  box-shadow: 0px 25px 50px rgb(0 0 0 / 15%);
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
}

.modal-close-button:hover {
  background-color: #E6E6E6;

}

.modal-close-button:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}

.modal-close-button:active {
  background-color: #E6E6E6;
  opacity: 0.5;
}


.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.calendar-line {
  display: flex;
  flex-direction: row;
  width: 577px;
  min-height: 48px;
  gap: 24px;
  align-items: center;
  margin-bottom: 4px;
}

.calendar-hotel {
  display: flex;
  flex-direction: column;
  width: 577px;
  height: 348px;
  background-color: #fff;


}

.modal-content {
  display: flex;
  margin: 0;
  width: 577px;
  height: 448px;
  flex-direction: column;
  padding: 64px 70px;
}

.arrival-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  text-indent: 20px;
}

.calendar-line input {
  width: 440px;
}

.calendar-hotel input {
  margin: 0;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

}

.calendar-date {
  position: absolute;
  right: 92px;
  width: 16px;
  height: 15px;
  border: none;
  padding: 0;
  margin: 0;
}


.calendar-line label {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  min-width: 119px;
  height: 24px;
  text-transform: capitalize;
}

.plus-minus {
  cursor: pointer;
}

.minus:hover {
  background-color: black;
}

.minus:focus {
  background-color: black;
  border: 3px solid #82B3D3;
  border-radius: 4px;
}

.minus:active {
  background-color: rgba(117, 97, 87, 0.3);
}

.plus:hover {
  background-color: black;
}

.plus:focus {
  background-color: black;
  border: 3px solid #82B3D3;
  border-radius: 4px;
}

.plus:active {
  background-color: rgba(117, 97, 87, 0.3);
}

.comment-arrival {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
  margin: 0;
  margin-bottom: 23px;
  margin-left: 156px;
}

.comment-departure {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: black;
  margin: 0;
  margin-bottom: 23px;
  margin-left: 156px;
}

.departure-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  text-indent: 20px;
}

.adults-children {
  display: flex;
  width: 577px;
}

.adults-line {
  display: flex;
  width: 247px;
  gap: 46px;
  align-items: center;
}

.adults-line label {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  min-width: 91px;
  height: 24px;
  text-transform: capitalize;

}

.adults-line input {
  margin: 0;
  text-transform: uppercase;
  background-color: #f2f2f2;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 31px;
  text-align: center;
  height: 48px;
}

.adults-line button {
  width: 40px;
  height: 48px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}

.departure-date:hover {
  background-color: #E6E6E6;
  opacity: 0.6;


}

.departure-date:active {
  background-color: #F2F2F2;
  border: 2px solid #000000;

}

.departure-date:focus {
  background-color: #E6E6E6;
  opacity: 0.6;
  border: 3px solid #83B3D3;

}

.arrival-date:hover {
  background-color: #E6E6E6;
  opacity: 0.6;


}

.arrival-date:active {
  background-color: #F2F2F2;
  border: 2px solid #000000;

}

.arrival-date:focus {
  background-color: #E6E6E6;
  opacity: 0.6;
  border: 3px solid #83B3D3;

}

.adult-button {
  display: flex;
  width: 110px;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.minus {
  background-color: rgba(117, 97, 87, 0.3);
  width: 2px;
  height: 14px;
  margin: 0;
  padding: 0;
  transform: rotate(-90deg);
  position: relative;
  left: 15px;

}

.plus {
  background: rgba(117, 97, 87, 0.3);
  height: 14px;
  width: 2px;
  position: relative;
  left: 20px;
}

.plus::after {
  content: "";
  height: 2px;
  width: 14px;
  background: rgba(117, 97, 87, 0.3);
  position: absolute;
  left: -6px;
  top: 6px;
}

.children-button {
  display: flex;
  width: 110px;
  border-radius: 4px;
  background-color: #f2f2f2;
  margin-left: 46px;

}

.children-line {
  display: flex;
  width: 247px;
  margin-left: 88px;
  align-items: center;

}

.children-line label {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  min-width: 49px;
  height: 24px;
  text-transform: capitalize;

}

.children-line input {
  margin: 0;
  text-transform: uppercase;
  background-color: #f2f2f2;
  padding: 0;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 31px;
  text-align: center;
  height: 48px;
}

.info {
  margin-left: 10px;
}

.children-line button {
  width: 40px;
  height: 48px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}

.button-find {
  width: 577px;
  min-height: 60px;
  border-radius: 10px;
  background: #83B3D3;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 46px;
  border: none;
  text-transform: uppercase;

}

.comment-info {
  position: absolute;
  width: 256px;
  height: 143px;
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 17px 18px 18px 22px;
  box-sizing: border-box;
  left: 349px;
  bottom: 25px;
}

.triangle {
  background: #333333;
  position: relative;
  transform: rotate(180deg);

}

.triangle::after {
  content: "";
  position: absolute;
  left: 161px;
  bottom: -120px;
  border: 10px solid transparent;
  border-top: 10px solid #333333;

}

.modal-container-close {
  display: none;
}



.price-field {

  width: 143px;
  height: 48px;
  background: #F2F2F2;
  border-radius: 4px 0px 0px 4px;
  margin: 0;
  box-sizing: border-box;
  padding: 12px 20px;
  border: none;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}


input::placeholder {
  color: black;
  opacity: 0.5;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

}



.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 4px;
  left: -25px;


}

.control-mark:hover {
  opacity: 0.6;

}

.control-mark:focus {
  opacity: 1;
  border: 3px #83B3D3;
}

.control-mark:active {
  opacity: 0.6;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 9.2px;
  left: 7px;
  width: 12px;
  height: 2px;
  background-color: #3F5E72;
  ;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 12px;
  left: 1px;
  width: 9px;
  height: 2px;
  background-color: #3F5E72;
  ;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(135deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-135deg);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}
