@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;

}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background: white;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.main-header {
  background: white;
  color: black;

}

.visually-hidden {
  display: none;
}

.navigation {
  display: flex;
  width: 1200px;
}

.page-header-logo {
  display: block;
  margin-right: 46px;
  margin-left: 70px;

}

.navigation_list {
  padding: 0;
  margin: 0;
  width: 510px;
}

.navigation_user {
  padding: 0;
  margin-left: auto;
  width: 268px;


}

.navigation_link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  background-color: white;
  text-align: center;
}


.main_index_logo {
  background-image: url(../images/Vector_botton_svg.svg), url("../images/index.jpg");
  background-color: black;
  background-position: center bottom, center;
  color: white;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  width: 1200px;
  height: 485px;
  display: block;
  margin: 0 auto;

}

.page-container {
  margin: 0 auto;
  width: 1200px;
}

.logo {
  margin: 51px 371px 82px;
}

.index-tagline{
  width: 1200px;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages {
  display: flex;
    width: 1200px;

}

.advantages_list {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row;
  width: 1200px;
  flex-wrap: wrap;
  display: flex;
}
.advantages_item{
  display: flex;
  align-items: center;
  justify-content: center;
}


.advantages-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: Top;
  display: flex;
}

.advantages_description {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 0%;
  text-align: center;
  vertical-align: Top;
}

.meel {
  background: white;
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.photo_of_sedona {
  margin-right: 0;
}

.real-city {
  background: #82B3D3;
  width: 400px;
  height: 384px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.devil-bridge{
  background: #82B3D3;
  width: 400px;
  height: 384px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.tourists{
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.housing{
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.souvenir{
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.little-square {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.road_advantages {
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.index-colum {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.index-colum-description {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: black;
}

.button_search {
  align-items: center;
  text-align: center;
  width: 1200px;
  height: 406px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;;

}

.button_search_link {
  color: white;
  background-color: black;
}

.newsletter {
  text-align: center;
  align-items: center;
  color: white;
  background-image: url("../images/background_subscribe.jpg");
  background-color: black;
  width: 1200px;
  height: 415px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page_footer_title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.page_footer_description{
font-family: "PT Sans", sans-serif;
Weight: 400px;
font-size: 22px;
line-height: 26px;
text-align:center;

}

.button-subscribe{
  font-family:"PT Sans", sans-serif;
  weight:700px;
  font-size: 20px;
  Line-height:36px;
  text-align: center;
  color:white;
}
.footer-contacts {
  align-items: center;
  text-align: center;
  display: flex;
  width: 1200px;
  justify-content: space-around;
}
.contacts_list{
  display: flex;
  width: 120px;
  list-style: none;
}

.number {
  align-items: center;
  text-align: center;
  text-decoration-line: none;
  color: black;
}

.made_in {
  align-items: center;
  text-align: center;
  color: black;
}

.main_header{
  display: flex;
  flex-direction: row;
  width: 1200px;

}

.navigation_list{
  display: flex;
}


.main-filter-hotel {
  background-image: url("../images/background_catalog.jpg");
  background-color: black;
  background-repeat: no-repeat;
  color: white;
  width: 1200px;
  height: 412px;
  background-size: cover;
  margin: 0 auto;

}

.title-filter {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcumbs {
  font-family: "PT Sans";
  Font-size: 16px;
  Line-height: 21px;
  text-align: Left;
  vertical-align: Top;
  color: white;
  display: flex;
  width: 114px;
  height: 21px;
}

.inner-header a {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: white;
}

.control-input {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  vertical-align: top;
}

.catalog-filter-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: left;
  vertical-align: top;

}
.catalog-filter{
  display: flex;
  width: 371px;
  height: 157px;
}

.filter-price{
  display: flex;
  width: 549px;
  height: 160px;
  flex-direction: column;
}

.catalog-hotels{
  display: flex;
  width: 1000px;
  height: 160px;
  justify-content: space-around;
}

.button-show{
  background-color: #82B3D3;
  width: 191px;
  height: 36px;
  font-family: "PT Sans", sans-serif;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: center;
  color:white;
}
.button-reset{
  background-color: #82B3D3;
  width: 191px;
  height: 36px;
  font-family: "PT Sans", sans-serif;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: center;
  color:white;


}

.control {
  width: 20px;
  height: 20px;
  corner-radius: 4px;
}
.title-result-filter{
  font-family: "PT Sans", sans-serif;
  font-style: Bold;
  font-size: 30px;
  line-height: 36px;
  color:black;
  width: 338px;
  height: 36px;

}
.result_filter{
  display: flex;
  width: 1060px;
  justify-content: space-between;
}
.sorting-result{
  width: 522px;
  height: 49px;
}

.button {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.hotel_list{
  display: flex;
}
.hotel-list-next{
  display: flex;
}

.select-control {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: black;
}

.hotel_card_title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;
}

.accomodation {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: black;
}

.price {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: black;
}

.rating_score_button {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}
.hotel_card{
  display: flex;
  width: 340px;
  height: 438px;
  flex-direction: column;
}

.hotel_card a {
  color: black;
}

.pagination a {
  color: white;
  background-color: #82B3D3;
}
.pagination{
  display: flex;
  width: 400px;
  height: 60px;
  list-style: none;
  justify-content: space-around;
}

.pagination-link{
  width: 60px;
  height: 60px;

}

.page-footer-container{
display: flex;
flex-direction: column;
width: 1200px;
}
